{% extends 'contest/base.html' %}
{% load static %}

{% block title %}New Contest Form {% endblock %}

{% load widget_tweaks %}


{% block content %}

{% block page-css %}

textarea#id_brief_post {
    resize: both;
}

{% endblock %}
<!---->

    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Form Layouts</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">Forms</a>
                                    </li>
                                    <li class="breadcrumb-item active"><a href="#">Form Layouts</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
                    <div class="mb-1 breadcrumb-right">

                    </div>
                </div>
            </div>
            <div class="content-body">

<!--                -->

                                <!-- Basic Horizontal form layout section start -->
                <section id="basic-horizontal-layouts">
                    <div class="row">
                        <div class="col-md-10 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Create a New Contest</h4>
                                    </div>
                                <div class="card-body">


<!---->
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% include 'contest/bs4_form.html' with form=form %}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
                                    </div>

</div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="card">
                                <div class="card-header">

                            </div>
        </div>
    </div>
    <!-- END: Content-->

{% endblock %}
